body {
    margin: 0;
    font-family: Arial, sans-serif;
    background: #f5f5f5;
  }
 
  header {
    background: #2d44b5;
    color: white;
    padding: 15px;
    display: flex;
    align-items: center;
  }

  .logo {
    width: 10%;
    height: 110%;
  }

.logo-div {
	display: block
}

  h1 {
    text-align: left;
    margin: 20px;
  }

  nav {
    margin-left: 20vw;
  }
 
  nav a {
    margin: 0 20px;
    color: white;
    text-decoration: none;
  }

ul {
	display: inline;
	width: 100%;
	padding: 0;
	margin: 0;
}

li {
	display: inline;
	list-style-type: none;
}

  #pesquisa {
	display: inline;
    text-align: center;
    margin: 20px 0;
  }
  
  #barra-pesquisa {
	  display: inline;
    padding: 10px;
    width: 50%;
	height: 30px;
    border-radius: 8px;
    border: 1px solid #ccc;
    font-size: 16px;
  }  
 
  #banner {
    background:  #6b7cd1;
    padding: 50px;
    text-align: center;
  }

  #banner p {
    color: white;
  }

  
  #banner h2 {
    color: white;
  }
 
  #produtos {
    padding: 30px;
  }

  #produtos h2 {
    text-align: center;
  }

  h2 {
    text-align: center;
    margin: 20px;
  }
 
  .grid {
    display: flex;
    gap: 20px;
    justify-content: center;
    flex-wrap: wrap;
  }
 
  .produto {
    background: white;
    border-radius: 10px;
    padding: 15px;
    text-align: center;
    width: 200px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
  }
 
  .produto img {
    max-width: 100%;
    border-radius: 8px;
  }
 
  button {
    margin-top: 10px;
    background: #090238;
    color: white;
    border: none;
    padding: 8px 15px;
    border-radius: 5px;
    cursor: pointer;
  }
 
  button:hover {
    background: #6c0303;
  }
 
  form {
    display: flex;
    flex-direction: column;
    gap: 10px;
    max-width: 400px;
    margin: auto;
  }
 
  form input, form textarea {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 6px;
  }
 
  footer {
    background: #005eb6;
    color: white;
    text-align: center;
    padding: 15px;
    margin-top: 20px;
  }
 
 